<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 🔷 Properties file config -->
    <context:property-placeholder location="classpath:account.properties" />

    <!-- 🔹 Constructor-based beans -->
    <bean id="bankBean" class="com.wipro.springassignments.Bank">
        <constructor-arg value="101"/>
        <constructor-arg value="State Bank of India"/>
    </bean>

    <bean id="accountBean" class="com.wipro.springassignments.Account">
        <constructor-arg value="123456"/>
        <constructor-arg value="Tharun Kumar"/>
        <constructor-arg value="50000.75"/>
        <constructor-arg ref="bankBean"/>
    </bean>

    <!-- 🔸 Property-based bean from .properties -->
    <bean id="propertyAccount" class="com.wipro.springassignments.PropertyBasedAccount">
        <property name="number" value="${account.number}" />
        <property name="holder" value="${account.holder}" />
        <property name="balance" value="${account.balance}" />
        <property name="type" value="${account.type}" />
    </bean>

</beans>
